[submodule ".themes/slash"]
	path = .themes/slash
	url = git://github.com/tommy351/Octopress-Theme-Slash.git
[submodule ".themes/dark"]
	path = .themes/dark
	url = git://github.com/octothemes/classic-dark.git
